.new-arrival-card-container {
  height: 200px;
  display: flex;
  padding: 2.5rem;
  gap: 3rem;
  background-color: #d2d3d3;
}
.new-arrival-image {
  background-color: white;
  width: 200px;
}

.new-arrival-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 1rem;
  font-weight: 600;
}

.sub-title {
  font-size: 0.8rem;
  font-weight: 800;
  padding: 5px 0;
}

.detail-text {
  font-weight: 500;
  font-size: 0.6rem;
}

.view-all {
  text-decoration: none;
}
