.filter-main-container {
  display: flex;
}

.productlist-container {
  width: 100%;
  background-color: #f7f7f7;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.loader-cont {
  width: 100%;
  display: flex;
}
