.product-card-container {
  width: 170px;
  height: 300px;
  position: relative;
  margin: 1rem 0;
}

button {
  all: unset;
}

.product-card-container img {
  width: 100%;
}

.item-name {
  font-size: 0.7rem;
  font-weight: 500;
  text-align: center;
}

.price {
  text-align: center;
  font-weight: 600;
  padding: 0.5rem 0;
}

.btn {
  width: 100%;
  padding: 0.3rem 0;
  border: none;
  background-color: #3b82f6;
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 0.8rem;
}

.heart:hover {
  cursor: pointer;
}

.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  background-color: white;
  right: 8px;
  top: 6px;
}
