.modal {
  border: 3px solid red;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: #fff;
}

.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.modal-body input {
  margin: 6px 0;
}

.modal-btn {
  padding: 5px 10px;
  margin: 0 10px;
  border: 1px solid black;
}

.modal-btn:hover {
  cursor: pointer;
  background-color: greenyellow;
}
